.main {
  background-color: rgb(156, 130, 109);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 4rem;
}
.main button {
  width: 400px;
}
.main input {
  width: 1000px;
}
